<div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
  <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
    <a mat-button class="mdl-navigation__link" routerLink="/home">Home</a>
    <a mat-button class="mdl-navigation__link" routerLink="/app">Demo</a>
    <a mat-button class="mdl-navigation__link" *ngIf="false" routerLink="/about">About</a>
    <a mat-button class="mdl-navigation__link" *ngIf="false" routerLink="/contact">Contact</a>
  </nav>
</div>
