<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>People behind this project</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card class="shipping-card">
          <mat-card-header>
            <mat-card-title>Andrei Ignat</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img src="assets/picto/andrei.jpg">
          </mat-card-content>
          <mat-card-actions>
            <a mat-button color="primary" href="mailto:ignatandrei@yahoo.com">ignatandrei@yahoo.com</a>
            <a mat-stroked-button color="primary" href="http://msprogrammer.serviciipeweb.ro/" target="_blank">http://msprogrammer.serviciipeweb.ro/</a>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="shipping-card">
          <mat-card-header>
            <mat-card-title>Alexandru Badita</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img src="assets/picto/alex.jpg">
          </mat-card-content>
          <mat-card-actions>
            <a mat-button color="primary" href="mailto:alexandru360@gmail.com">alexandru360@gmail.com</a>
            <a mat-stroked-button color="primary" href="http://alexandru360.blogspot.com/" target="_blank">http://alexandru360.blogspot.com/</a>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button color="primary">
      <mat-icon>facebook</mat-icon>
    </a>
    <a mat-button color="primary">
      <mat-icon>linkedin</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
