<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="home" patternSyntax="ExactMatch">
                    <match url="home" />
                    <action type="Rewrite" url="index.html" />
                </rule>
<rule name="demo" patternSyntax="ExactMatch">
                    <match url="demo" />
                    <action type="Rewrite" url="index.html" />
                </rule>
<rule name="about" patternSyntax="ExactMatch">
                    <match url="about" />
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
