<header>
  <mat-grid-list col="12" class="txt-center bg-lightblue txt-white">
    <div class="bg-lightblue">
      <a routerLink="/home">
        <img class="p-top img-responsive txt-center" src="assets/img/data2code-logo.png"/>
      </a>
    </div>

    <nav class="txt-white bg-lightblue p">
      <a routerLink="/home" class="txt-uppercase txt-bold txt-white">Home</a>
      <a routerLink="/demo" class="txt-uppercase txt-bold txt-white">Demo</a>
      <a routerLink="/more" class="txt-uppercase txt-bold txt-white">More</a>
      <a routerLink="/about" class="txt-uppercase txt-bold txt-white">About</a>
    </nav>
  </mat-grid-list>
</header>

<!--  -->
<!--<mat-sidenav-container class="sidenav-container">-->
<!--  <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav">-->

<!--    <a mat-button routerLink="/home">Home</a>-->
<!--    <a mat-button routerLink="/demo">Demo</a>-->
<!--    <a mat-button routerLink="/about">About</a>-->
<!--    <a mat-button routerLink="/more">More</a>-->
<!--    <a mat-button *ngIf="false" routerLink="/contact">Contact</a>-->

<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content>-->
<!--    <main>-->
<!--      <router-outlet></router-outlet>-->
<!--    </main>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->
