<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>{{title}}</span>
      <span class="menu-items-spacer"></span>
      <button mat-icon-button aria-label="icon-button with menu icon">
        <mat-icon (click)="onClickLogin()">login</mat-icon>
      </button>
      <button mat-icon-button aria-label="icon-button with menu icon">
        <mat-icon (click)="onClickShowSecondRow()">menu</mat-icon>
      </button>

    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="showSecondRow">
      <app-header-menu></app-header-menu>
    </mat-toolbar-row>

  </mat-toolbar>
</p>
