<mat-grid-list col="12" class="txt-center">
  <img src="assets/img/top-banner-hp.jpg" width="100%" >
</mat-grid-list>

<mat-grid-list col="12" class="txt-center p-top p-bottom">
  <h2 class="txt-uppercase"><b>Welcome to Data2Code</b></h2>

<!--  <p>-->
<!--    Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
<!--    Vestibulum nec ante at eros pulvinar pellentesque.-->
<!--    Donec ac ligula ut sem consequat ornare.-->
<!--    Phasellus vel sem vel justo aliquam faucibus ac a lectus.-->
<!--    Aliquam cursus nunc non aliquam auctor.-->
<!--  </p>-->

  <h4><b>Disclamer</b></h4>
  <p>We do not collect client data from the site & we do not store passwords.</p>
  <p>If you want to feel safe use a dateless schema in your database</p>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="goDemo()">Go to Demo!</button>
  </mat-card-actions>
</mat-grid-list>
