<form [formGroup]="oForm" novalidate>
  <mat-card class="shipping-card">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Connection type" formControlName="connType" (selectionChange)="onConnTypeChange()">
              <mat-option *ngFor="let connType of connTypes" [value]="connType.connType">
                {{ connType.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="oForm.controls['connType'].hasError('required')">
              Connection type is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="mustUploadFile">
        <div class="col">
          <mat-file-upload
            [labelText]="'Select an excel file to upload:'"
            [selectButtonText]="'Choose File'"
            [uploadButtonText]="'Upload'"
            [allowMultipleFiles]="false"
            [showUploadButton]="false"
            [acceptedTypes]="'.xls,.xlsx'"
            (uploadClicked)="onUploadClicked($event)"
            (selectedFilesChanged)="onSelectedFilesChanged($event)"
          >
          </mat-file-upload>
          <!--          <mat-error *ngIf="oForm.controls['connFile'].hasError('required')">-->
          <!--            An excel file <strong>required</strong>-->
          <!--          </mat-error>-->
        </div>
      </div>

      <div *ngIf="!mustUploadFile">
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Host" formControlName="connHost">
              <mat-error *ngIf="oForm.controls['connHost'].hasError('required')">
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Port" formControlName="connPort">
              <mat-error *ngIf="oForm.controls['connPort'].hasError('required')">
                Port is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="User" formControlName="connUser">
              <mat-error *ngIf="oForm.controls['connUser'].hasError('required')">
                User is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input type="password" matInput placeholder="Password" formControlName="connPassword">
              <mat-error *ngIf="oForm.controls['connPassword'].hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Database" formControlName="connDatabase">
              <mat-error *ngIf="oForm.controls['connDatabase'].hasError('required')">
                Database is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>

      <button mat-button
              *ngIf="!responseSuccess"
              (click)="onSubmit()">
        Test
      </button>
      <button mat-stroked-button
              *ngIf="responseSuccess"
              (click)="onSubmit()">
        Test
      </button>
      <button mat-button matStepperNext color="primary"
              *ngIf="responseSuccess"
              (click)="onSubmit()">
        Next
      </button>
    </mat-card-actions>
  </mat-card>
</form>
<!--Aici sunt chestii doar pentru debug ... in productie trebuie sa dispara ! -->

<br/><br/><br/>
<hr/>
<p>Body sent:</p>
<hr/>
<br/>
<div style="word-wrap: break-word;">
  {{payloadConn | json}}
</div>
<br/><br/>
<hr/>
<p>Response:</p>
<hr/>
<br/>
{{response|json}}
