
@@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Please put here anything for the regular user </h1>
    <h1> Or goto <a href='~/adminindex'>CRUD ADMIN tables</a>   </h1>

</div>
