<div class="container m-top">
  <h1>About ...</h1><br>
<!--  <p>-->
<!--    Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
<!--    Vestibulum nec ante at eros pulvinar pellentesque.-->
<!--    Donec ac ligula ut sem consequat ornare.-->
<!--    Phasellus vel sem vel justo aliquam faucibus ac a lectus.-->
<!--    Aliquam cursus nunc non aliquam auctor.-->
<!--  </p>-->
</div>

<div class="container m-top">
  <mat-grid-list cols="2">
    <mat-grid-tile class="txt-center">
      <mat-card class="card-content-center">
        <img class="img-responsive zoom-in" src="assets/img/andrei-ignat.png"><br>
        <br>
        <mat-card-title>Andrei Ignat</mat-card-title>
<!--        <p>-->
<!--          Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
<!--          Vestibulum nec ante at eros pulvinar pellentesque.-->
<!--          Donec ac ligula ut sem consequat ornare.-->
<!--          Phasellus vel sem vel justo aliquam faucibus ac a lectus.-->
<!--          Aliquam cursus nunc non aliquam auctor.-->
<!--        </p>-->

        <br>
        <b>Contact: </b> <a class="a-link" href="mailto:ignatandrei@yahoo.com">ignatandrei@yahoo.com</a><br>
        <br>
        <button mat-stroked-button><a class="txt-lightblue" href="http://msprogrammer.serviciipeweb.ro/"
                                      target="_blank">See more</a></button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="txt-center">
      <mat-card class="card-content-center">
        <img class="img-responsive zoom-in" src="assets/img/alexandru-badita.png"><br>
        <br>
        <mat-card-title>Alexandru Badita</mat-card-title>
<!--        <p>-->
<!--          Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
<!--          Vestibulum nec ante at eros pulvinar pellentesque.-->
<!--          Donec ac ligula ut sem consequat ornare.-->
<!--          Phasellus vel sem vel justo aliquam faucibus ac a lectus.-->
<!--          Aliquam cursus nunc non aliquam auctor.-->
<!--        </p>-->

        <br>
        <b>Contact: </b> <a class="a-link" href="mailto:alexandru360@gmail.com">alexandru360@gmail.com</a><br>
        <br>
        <button mat-stroked-button><a class="txt-lightblue" href="http://alexandru360.blogspot.com/" target="_blank">See
          more</a></button>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
