html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #282828;
}

.mat-body, .mat-body-1, .mat-typography {
  font: 300 19px/22px Roboto, "Helvetica Neue", sans-serif !important;
  letter-spacing: normal !important;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 50px; /* Footer height */
}

#footer {
  /*position: absolute;*/
  bottom: 0;
  left: 0;
  width: 100%;
  /*height: 50px;*/
}

.row {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.clear {
  clear: both;
}

h1 {
  font-size: 32px !important;
  font-weight: 600 !important;
}

h2 {
  font-size: 26px !important;
  font-weight: 600 !important;
}

h3 {
  font-size: 26px !important;
  font-weight: 600 !important;
}

h4 {
  font-size: 22px !important;
  font-weight: 600 !important;
}

h5 {
  font-size: 20px !important;
  font-weight: 600 !important;
}

.bg-lightblue {
  background-color: rgb(104, 172, 236) !important;
}

.txt-lightblue {
  color: rgb(104, 172, 236) !important;
}

.txt-white {
  color: #fff;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-small {
  font-size: 14px;
}

.txt-bold {
  font-weight: bold;
}

.txt-uppercase {
  text-transform: uppercase;
}

.p-top {
  padding-top: 30px;
  box-sizing: border-box !important;
}

.p-right {
  padding-right: 30px;
  box-sizing: border-box !important;
}

.p-bottom {
  padding-bottom: 30px;
  box-sizing: border-box !important;
}

.p-left {
  padding-left: 30px;
  box-sizing: border-box !important;
}

.p {
  padding: 30px 30px 30px 30px;
  box-sizing: border-box !important;
}

.m-top {
  margin-top: 30px;
}

.m-right {
  margin-right: 30px;
}

.m-bottom {
  margin-bottom: 30px;
}

.m-left {
  margin-left: 30px;
}

.m {
  margin: 30px 30px 30px 30px;
}

.a-link, .a-link:hover, .a-link:visited, .a-link:active {
  color: rgb(104, 172, 236) !important;
  text-decoration: none;
  outline: none;
}

nav a, nav a:hover, nav a:visited, nav a:active {
  margin-left: 7px;
  margin-right: 7px;
}

.zoom-out:hover {
  transform: scale(1.5);
  transition: transform .5s ease;
}

.zoom-in:hover {
  transform: scale(0.8);
  transition: transform .5s ease;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px !important;
  font-weight: 500;
  text-transform: uppercase;
}

.mat-raised-button {
  border-radius: 0 !important;
  padding: 10px !important;
  margin: 20px !important;
}

.mat-toolbar.mat-primary, .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background: rgb(104, 172, 236) !important;
}

.row-line {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.card-border {
  width: fit-content;
  margin: 10px;
}

.full-width {
  width: 100%;
}

.site-header {
  position: relative;
}

.site-header .mdl-layout__header-row {
  padding: 0;
  -ms-flex-pack: center;
  justify-content: center;
}

.site-description {
  display: block;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.site-logo-row {
  min-height: 100px;
}

.is-compact .site-logo-row {
  min-height: auto;
}

.site-logo {
  background: url(../assets/img/data2code-logo.png) 50% no-repeat;
  background-size: cover;
  height: 64px;
  width: 200px;
  margin: 15px auto;
}

.is-compact .site-logo {
  height: 50px;
  width: 50px;
  margin: 7px auto;
}

.site-navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
}

.site-navigation-row .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.site-navigation-row .mdl-navigation__link {
  -ms-flex: 1;
  flex: 1;
  line-height: 42px;
  color: #fff;
}

.site-navigation-row .is-active {
  position: relative;
  font-weight: bold;
  opacity: 1;
}

.site-navigation-row .mdl-navigation__link:hover {
  opacity: 1;
  cursor: pointer;
}

.mdl-layout__header .mdl-layout__drawer-button {
  color: #fff;
}

.mdl-layout__content {
  background-color: #fefefe;
}

.site-content {
  margin: 1em auto;
  min-height: 580px;
}

.page-content {
  padding-bottom: 2em;
  box-sizing: border-box;
}

.site-max-width {
  max-width: 1200px;
  margin: 0 auto;
}

.site-copy {
  max-width: 768px;
}

.event-card {
  background: #3E4EB8;
}

.event-card .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}

.event-card .mdl-card__title {
  -ms-flex-align: start;
  align-items: flex-start;
}

.event-card .mdl-card__title > h4 {
  margin-top: 0;
}

.event-card .mdl-card__actions {
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -ms-flex-align: center;
  align-items: center;
}

.event-card .mdl-card__actions > .material-icons {
  padding-right: 10px;
}

.event-card .mdl-card__title,
.event-card .mdl-card__actions,
.event-card .mdl-card__actions > .mdl-button {
  color: #fff;
}

.section__play-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 150px;
}

.section__play-btn .material-icons {
  font-size: 3rem;
}

.section--center {
  margin: 0 auto;
}

.homepage-portfolio .mdl-button {
  margin: 0 auto;
}

.homepage-footer {
  background: #eee;
  margin-bottom: -1em;
  padding: 2rem 0;
  box-sizing: border-box;
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

img.article-image {
  width: 100%;
  height: auto;
}

.demo-card-image.mdl-card {
  width: 192px;
  height: 192px;
}

.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
}

.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.form-contact .mdl-textfield {
  width: 100%;
}

#contact-button {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

footer .mdl-logo a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #aaa;
}

.footer-container {
  margin: 0 auto;
}

.card-content-center {
  padding: 20px;
  box-sizing: border-box;
  margin: 70px;
}
