<mat-card class="shipping-card" *ngIf="showTablesList">
  <mat-card-header>
    <mat-card-title>Entities list</mat-card-title>
    <mat-card-subtitle>
      <mat-checkbox class="checkbox-margin"
                    [(ngModel)]="selectAllEntities"
                    (click)="onClickCheckEntities()">
        {{selectAllEntities ? 'Deselect all entities' : 'Select all entities'}}
      </mat-checkbox>
    </mat-card-subtitle>
  </mat-card-header>

  <!-- Chose tables -->
  <mat-card-content >

    <mat-accordion>
      <mat-expansion-panel *ngFor="let itm of stepOnePayload; index as idx;"> <!--hideToggle-->
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-checkbox class="checkbox-margin" [(ngModel)]="itm.selected">{{itm.name}}</mat-checkbox>
          </mat-panel-title>
          <mat-panel-description>
            <!--Something to be said here :)-->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br/>
        <div class="row">
          <div class="col">
            <mat-checkbox class="checkbox-margin" [(ngModel)]="itm.crudEndpoints.List">Read</mat-checkbox>
          </div>
          <div class="col">
            <mat-checkbox class="checkbox-margin" [(ngModel)]="itm.crudEndpoints.Create"
                          [disabled]="itm.crudEndpoints.Upsert">Create
            </mat-checkbox>
          </div>
          <div class="col">
            <mat-checkbox class="checkbox-margin" [(ngModel)]="itm.crudEndpoints.Update"
                          [disabled]="itm.crudEndpoints.Upsert">Update
            </mat-checkbox>
          </div>
          <div class="col">
            <mat-checkbox class="checkbox-margin" [(ngModel)]="itm.crudEndpoints.Delete">Delete</mat-checkbox>
          </div>
          <div class="col">
            <mat-checkbox class="checkbox-margin" [(ngModel)]="itm.crudEndpoints.Upsert"
                          [disabled]="itm.crudEndpoints.Create && itm.crudEndpoints.Create"
                          (mouseup)="onUpsertChange(idx)">Upsert
            </mat-checkbox>
          </div>
        </div>
        <br/>
        <!-- Table columns !-->
        <mat-table [dataSource]="itm.fields" class="mat-elevation-z8">
          <!-- name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <!-- Type Column -->
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
          </ng-container>

          <!-- selected Column -->
          <ng-container matColumnDef="selected">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox class="checkbox-margin" [(ngModel)]="itm.selected"
                            (click)="onFieldsSelectAll(idx)">{{itm.selected ? 'Uncheck all' : 'Check all'}}</mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-checkbox class="checkbox-margin" [(ngModel)]="element.selected"></mat-checkbox>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <!-- END - Table columns !-->
      </mat-expansion-panel>
    </mat-accordion>
    <br/>
    <button mat-stroked-button color="primary"
            [disabled]="btnDisableDataDebounce"
            (click)="onNextAfterTables()">
      Next
    </button>
  </mat-card-content>
</mat-card>

<mat-card class="shipping-card" *ngIf="showWhatIsGenerated">
  <!-- Chose api / UI -->
  <mat-card-content>

    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Chose what you want generated</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <mat-checkbox class="checkbox-margin" [(ngModel)]="whatIsGenerated.Api">
              Generate API
            </mat-checkbox>
          </mat-grid-tile>
          <mat-grid-tile>

            <mat-form-field appearance="fill" *ngIf="whatIsGenerated.Api">
              <mat-select [(ngModel)]="whatIsGenerated.ApiType">
                <mat-option *ngFor="let itm of selectWhatIsGeneratedApi" [value]="itm.Key">
                  {{itm.Name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </mat-grid-tile>
          <mat-grid-tile>
            <mat-checkbox class="checkbox-margin" [(ngModel)]="whatIsGenerated.Ui">
              Generate UI
            </mat-checkbox>
          </mat-grid-tile>
          <mat-grid-tile>

            <mat-form-field appearance="fill" *ngIf="whatIsGenerated.Ui">
              <mat-select [(ngModel)]="whatIsGenerated.UiType">
                <mat-option *ngFor="let itm of selectWhatIsGeneratedUi" [value]="itm.Key">
                  {{itm.Name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </mat-grid-tile>
        </mat-grid-list>

      </mat-card-content>
    </mat-card>

  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button color="primary" [disabled]="btnDisableDataDebounce" (click)="onSubmit()">Send data
    </button>
    <button mat-button color="primary" matStepperNext *ngIf="btnStepComplete">Next</button>
  </mat-card-actions>
</mat-card>
