<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>Entities list</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let itm of stepOneServerPayload; index as idx;"> <!--hideToggle-->
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-checkbox class="checkbox-margin" [(ngModel)]="itm.selected">{{itm.name}}</mat-checkbox>
          </mat-panel-title>
          <mat-panel-description>
            Table of interest ?!
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-table [dataSource]="itm.fields" class="mat-elevation-z8">
          <!-- name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <!-- type Column -->
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
          </ng-container>

          <!-- selected Column -->
          <ng-container matColumnDef="selected">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox class="checkbox-margin" >Index #{{idx}}</mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-checkbox class="checkbox-margin" [(ngModel)]="element.selected"></mat-checkbox>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
  </mat-card-actions>
</mat-card>

{{stepOneServerPayload | json}}
