<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="SpaRewriteRule" stopProcessing="true">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/index.html"/>
        </rule>
        <rule name="ApiProxyRule" stopProcessing="true">
          <match url="api/(.*)"/>
          <action type="Rewrite" url="http://api.angularapp.com/api/{R:1}"/>
        </rule>
      </rules>
    </rewrite>

    <handlers>
      <clear/>
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either"
         requireAccess="Read"/>
    </handlers>

    <staticContent>
      <mimeMap fileExtension=".*" mimeType="application/octet-stream"/>
    </staticContent>
  </system.webServer>
</configuration>
