<div class="card-content-center">
  <form [formGroup]="fg" novalidate>
    <mat-card class="shipping-card">
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="User" formControlName="Username">
              <mat-error *ngIf="fg.controls['Username'].hasError('required')">
                Username is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Password" formControlName="Password">
              <mat-error *ngIf="fg.controls['Password'].hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="onSubmit()">Login</button>
        <button mat-button color="primary">Recover password</button>
        <button mat-button color="primary">Register</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
